<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncs_dataio_moon_joonghui.mapper.DepartmentMapper">

 	<sql id="selectSQL">
		SELECT DEPTNO, DEPTNAME, FLOOR FROM DEPARTMENT
	</sql>
	
	<sql id="whereSQL">
		<where>
			<if test="deptNo != null">
				DEPTNO = #{deptNo}
			</if>
		</where>
	</sql>
	
	<sql id="setSQL">
		<set>
			<if test="deptName != null">
				DEPTNAME = #{deptName},
			</if>
			<if test="floor != null">
				FLOOR = #{floor},
			</if>
		</set>
	</sql>
	
	<select id="selectDepartmentAll" resultType="Department">
		<include refid="selectSQL"/>
	</select>
	
	<select id="selectDepartmentByNo" resultType="Department">
		<include refid="selectSQL"/>
		<include refid="whereSQL"/>
	</select>
	
 	<insert id="insertDepartment" parameterType="Department">
 		INSERT INTO DEPARTMENT
		VALUES (#{deptNo}, #{deptName}, #{floor})
	</insert>
	
	<update id="updateDepartment" parameterType="Department">
		UPDATE DEPARTMENT
		<include refid="setSQL"/>
		<include refid="whereSQL"/>
	</update>
	
	<delete id="deleteDepartment" parameterType="Department">
		DELETE FROM DEPARTMENT
		<include refid="whereSQL"/>
	</delete>
	
</mapper> 